/0816-Java-NetBeans/nprimo/target/
/8016JAVA/nbproject/private/
/8016-Java/Exemplo9_classe/nbproject/private/
/8016-Java/Exemplo9_classe/build/
/8016-Java/Nprimo/nbproject/private/
/8016-Java/trash/NetBeansProjects/Exemplo9_classe/target/
/8016-Java/Exemplo9b/nbproject/private/
/8016-Java/Exemplo9b/build/
/8016-Java/Exemplo9c/nbproject/private/
/8016-Java/Exemplo9c/build/
/8016-Java/Exemplo10_jframeSimples/target/
/8016-Java/Exemplo010_jframeSimples/nbproject/private/
/8016-Java/Exemplo010_jframeSimples/build/
/8016-Java/Trabalho2Cilindro/nbproject/private/
/8016-Java/Trabalho2Cilindro/build/
/8016-Java/Exemplo11/nbproject/private/
/8016-Java/Exemplo14_conversor/nbproject/private/
/8016-Java/Exemplo14_conversor/build/
/8016-Java/Exemplo15_pallete/nbproject/private/
/8016-Java/Exemplo15_pallete/build/
/8016-Java/Exemplo16_contador/nbproject/private/
/8016-Java/Exemplo16_contador/build/
/8016-Java/Exemplo16_contador/dist/
/8016-Java/Trabalho3_conversorDecimal/nbproject/private/
/8016-Java/Trabalho3_conversorDecimal/build/
/8016-Java/Exemplo17_bola/nbproject/private/
/8016-Java/Exemplo18_combobox/nbproject/private/
/8016-Java/Exemplo18_combobox/build/
/8016-Java/Exemplo17_bola/build/
