body{
    font-family:'Montserrat', sans-serif;
}
header{
    margin-left: 25px;
    display: inline-block;
    float: left;
    list-style: none;
}
.caixa{
    position: relative;
    width: 940px;
    margin: 0 auto;
}
nav{
    position: absolute; /*absolute: conseguimos colocar onde quisermos na página*/
    top: 110px;
    right: 0;
}
nav li{
    display: inline; /*para deixar a lista alinhada*/
    margin: 0 0 0 15px;/*margem entre as palavras. 0 = topo, 0 = direita, 0 = baixo e 0 = esquerda*/
}
nav a{
    text-transform: uppercase; /*para deixar a letra maiuscula*/
    color: #000000; /*para ausencia de cor, fica preto*/
    font-weight: bold; /*para deixar em negrito*/
    font-size: 22px;/*para alterar o tamanho da fonte*/
    text-decoration: none;/*para tirar o sublinhado*/
}
nav a:hover{ /* Adicionamos a tag hover após o item. Ex: nav + a é para alterar o comportamento 
    padrão, nav + a + hover é para alterar qndo o mouse estiver por cima dos links de navegação*/
    color: #C78C19;
    text-decoration: underline;
}
.banner{
    width: 100%;
    float: left;
    position: relative;
}